{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- css -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<body>
<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; width:100%">
  <div class="container-fluid" style="justify-content:space-between">
      <!-- instgram -->
      <a class="navbar-brand" href="http://127.0.0.1:8000"><span class="material-icons">auto_awesome 인별그램</span></a>
      <!-- Search -->
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width:30%">
      <!-- icon -->
      <div>
          <span class="material-icons nav-icon">home_filled</span>
          <span class="material-icons-outlined nav-icon">send</span>
          <span id="add_feed" class="material-icons-outlined nav-icon">add_box</span>
          <span class="material-icons-outlined nav-icon">explore</span>
          <span class="material-icons-outlined nav-icon">favorite_border</span>
      </div>
  </div>
</nav>
<!-- and nav -->

<!-- body -->
<div class="main_body">
   <div class="left_body"><!--왼쪽-->
       {% for feed in feed_list %}
       <div class="border feed_box">
           <div class="feed_name">
               <div class="profile_box">
                   <img class="profile_img" src="{{ feed.profile_image }}">
               </div>
               <span class="feed_name_txt"> {{ feed.user_id }} </span>
           </div>
           <img class="feed_img" src="{% get_media_prefix %}{{ feed.image }}">

           <div class="feed_icon">
               <div>
                   <span class="material-icons-outlined">favorite_border</span>
                   <span class="material-icons-outlined">mode_comment</span>
                   <span class="material-icons-outlined">send</span>
               </div>
               <div>
                   <span class="material-icons-outlined">turned_in_not</span>
               </div>
           </div>

           <div class="feed_like">
               <p class="feed_txt"> <b>좋아요 {{ feed.like_count }}개</b></p>
           </div>
           <div class="feed_content">
               <p class="feed_txt"> <b> {{ feed.user_id }} </b> {{ feed.content }}</p>
           </div>
           <div class="feed_reply">
                <span class="feed_txt"> <b> mychew </b> 제주도 가고 싶어요 ㅠㅠ</span>
                <span class="feed_txt"> <b> cho </b> 제주도  ㄱ ㄱ </span>
           </div>
       </div>
       {% endfor %}

   </div>

   <div class="right_body"><!--오른쪽-->
       <!--계정목록-->
       <div class="feed_name" style="justify-content: space-between">
           <div style="display: flex; align-items: center; ">
               <div class="big_profile_box">
                   <img class="profile_img" src="https://dimg.donga.com/wps/NEWS/IMAGE/2021/09/07/109121848.2.jpg">
               </div>
           </div>
           <div class="name_content">
               <span class="feed_name_txt"> jin.99 </span>
               <span class="name_content_txt"> 별명 </span>
           </div>
           <a class="link_txt">전환</a>
       </div>
       <!--계정목록 끝-->
   </div>
</div>
<!-- and body-->


<!-- modal -->
<div id="modal_add_feed" class="modal_back">
    <div class="modal_window">
        <div class="modal_title">
            <div class="modal_title_side"></div>
            <div> 새 게시물 </div>
            <div class="modal_title_side">
            <span id="close_modal" class="close_modal material-icons-outlined" style="cursor:pointer">close</span>
            </div>
        </div>
        <div class="modal_content-1" style="vertical-align:middle; display:table-cell;">
            <span class="content-text">사진을 여기에 끌어다 놓으세요.</span>
        </div>
    </div>
</div>


<!-- modal edit -->
<div id="modal_edit_feed" class="modal_back">
    <div class="modal_window">
        <div class="modal_title">
            <div class="modal_title_side"></div>
            <div> 편 집 </div>
            <div class="modal_title_side">
                <span id="close_modal" class="close_modal material-icons-outlined" style="cursor:pointer">close</span>
            </div>
        </div>
        <div class="modal_content-2" style="display:flex; flex-direction:row;">
            <div class="modal_image"></div> 
            <div>
                <div class="feed_name">
                    <div class="profile_box">
                        <img id="input_profile_image" class="profile_img" src="https://newsimg-hams.hankookilbo.com/2022/03/03/4a69a88d-35f7-4473-9f7b-662e34f179c3.jpg"> <!-- 프로필 이미지 -->
                    </div>
                    <span id="input_user_id" class="feed_name_txt">jin.99</span> <!-- 프로필  -->
                </div>
                <div>
                    <textarea id="input_text" class="feed_content_textarea form-control col-sm-5" rows="10" placeholder="내용을 입력하세요..."></textarea>
                </div>
                <div style="width: 100%; text-align: center">
                    <button id="upload_button" type="button" class="btn btn-primary">올리기</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
// -------------------------------------- script --------------------------------------

// 모달 띄우기 코드
const modal = document.getElementById("modal_add_feed");
const modalEdit = document.getElementById("modal_edit_feed");
const buttonAddFeed = document.getElementById("add_feed");

buttonAddFeed.addEventListener("click", e=>{
    modal.style.top = window.pageYOffset + 'px';
    modal.style.display = "flex";
    document.body.style.overflowY = "hidden";
});
/* 모달 외부영역 클릭시 닫기 */
// $(document).mouseup(function (e){
// 	if($(modal).has(e.target).length === 0){
// 		$(modal).css({
//             display:'none'
//         })
// 	}
// });
// 모달 esc로 닫기
// $(document).keydown(function(e){
// 	//keyCode 구 브라우저, which 현재 브라우저
//     var code = e.keyCode || e.which;
//     if (code == 27) { // 27은 ESC 키번호
//         $(".modal-1").removeClass("modal_image");
//         $(".modal-2").removeClass("modal_image");
//         $(modal).css({
//             display:'none'
//         })
//     }
// });

// 모달 닫기 코드
// const btnModal = document.getElementById("close_modal");
// btnModal.addEventListener("click", e => {
//     modal.style.display = "none";
//     document.body.style.overflowY = "visible";
// });
// // 모달 닫기 코드
// const btnModalEdit = document.getElementById("close_modal_edit");
// btnModalEdit.addEventListener("click", e => {
//     modalEdit.style.display = "none";
//     document.body.style.overflowY = "visible";
// });

// 모달 닫기 코드
$('.close_modal').on("click", () => {
        closeModal();
    });

function closeModal() {
    $('.modal_back').css({
        display : 'none'
    });
    $(document.body).css({
        overflowY : 'visible'
    });
};


$('.modal_content-1')
    .on("dragover", dragOver) // 요소가 영역안으로
    .on("dragleave", dragOver)// 요소가 영역밖으로
    .on("drop", uploadFiles); // 드롭되었을때

function dragOver(e){ // 드래그 인아웃
    e.stopPropagation();
    e.preventDefault();
    console.log(e);

    if (e.type == "dragover") {
        $(e.target).css({
            "background-color": "gray",
        });
    } else {
        $(e.target).css({
            "background-color": "white",
        });
    }
}


let files;
function uploadFiles(e){ // 드래그 드롭
    e.stopPropagation();
    e.preventDefault();

    files = e.originalEvent.dataTransfer.files;

    if (files.length > 1) { 
        alert('하나만 올릴수 있습니다.');
        return;
    }

    if (!(files[0].type.match(/image.*/))) {
        alert('이미지 파일만 가능합니다.');
        return;
    }else{
        $(".modal_content-1").css({
            "background-color":"white"
        });
        $(".modal_image").css({
            "background-image": "url(" + window.URL.createObjectURL(files[0]) + ")",
            "outline":"none",
            "background-size":"100%",
            "background-repeat":"no-repeat",
            "background-fit":"cover",
            "background-position":"center",
        });
        $('#modal_edit_feed').css({
            display:'flex'
        });
        $('#modal_add_feed').css({
            display:'none'
        });
    }
}

/* -------------- 이미지 업로드 -------------- */
$('#upload_button').on('click', ()=>{

    const image = $('.modal_image').css("background-image").replace(/^url\(['"](.+)['"]\)/, '$1');
    const content = $('#input_text').val();
    const profile_image = $('#input_profile_image').attr('src');
    const user_id = $('#input_user_id').text();
    const file = files[0];

    let formData = new FormData();

    formData.append('file', file);
    formData.append('image', image);
    formData.append('content', content);
    formData.append('profile_image', profile_image);
    formData.append('user_id', user_id);

    if(image.length <= 0){
        alert("이미지가 없습니다.");
        return
    }
    if(content.length <= 0){
        alert("내용을 입력하세요");
        return
    }
    // if(profile_image.length <= 0){
    //     alert("프로필 이미지가 비어있습니다.");
    // }
    if(user_id.length <= 0){
        alert("사용자 id가 없습니다.");
        return
    }
    
    uploadFeed(formData);
    console.log(files[0]);

});

function uploadFeed(fd) {
    $.ajax({
        url: "/content/upload",
        data: fd,
        method: "POST",
        processData: false,
        contentType: false,
        success: function (data) {
            console.log("성공");
        },
        error: function (request, status, error) {
            console.log("에러");
        },
        complete: function() {
            closeModal();
            location.reload();
        }
    })
};

</script>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


</body>
</html>

{% endblock content %}