{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- css -->
<link rel="stylesheet" href="{% static 'css/login-css.css' %}"/>


<body style="background-color: #FAFAFA;height: 100%; text-align: center;">

<div class="background_box">
    <div class="login_body">
        <span class="material-icons" style="margin-top: 30px; margin-bottom:45px;">auto_awesome 인별그램</span>
        <div class="form-floating mb-2 floating_form">
            <input type="email" class="floating_input form-control" id="floatingEmail">
            <label for="floatingEmail" class="floating_label">이메일 주소</label>
        </div>
        <div class="form-floating mb-3 floating_form">
            <input type="password" class="floating_input form-control" id="floatingPassword">
            <label for="floatingPassword" class="floating_label">비밀번호</label>
        </div>
        <div class="floating_form mb-3">
            <button id="button_login"  type="button" class="btn btn-primary" style="width: 100%"> 로그인 </button>
        </div>
    </div>
    <div class="move_join">
        계정이 없으신가요? <a href="{% url 'join' %}">가입하기</a>
    </div>
</div>

</body>
</html>
{% endblock content %}
<!-- {% url 'login' %} -->